/*media query*/
@media(max-width: 992px){
	.body{
		width: 45%;
	}
}	

@media(max-width: 600px){
	body{
		background-color: white;
	}

	.body{
		width: 100%;
	}

	.header-nav{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}

	.search-wrap{
		margin-top: 60px;
	}
}