*{
	margin: 0px;
	box-sizing: border-box;
}


body{
	background-color: #d5d5d5;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

/*root*/
:root{
	/*color root*/
	--blue: #257CFE;
	--green: #10B634;
	--red : #F30000;
	--grey : #A09D9D;


	/*font*/
	--poppins : "Poppins",sans-serif;
	--montserrat : "Montserrat",sans-serif;
	--light :300;
	--regular : 400;
	--semibold:600;
	--bold: 800;

}


/*reusable element*/
.body{
	width: 33%;
	min-height: 650px;
	margin: 0px auto;
	position: relative;
	cursor: pointer;
	background-color: white;
	padding: 20px 15px;
	overflow: hidden;
}

.header-nav{
	width: 100%;
	position:fixed;
	height: 50px;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}

.button-back{
	height: 100%;
	width: 10%;
	line-height: 50px;
	text-align: left;
	padding-left: 10px;
	font-size: 23px;
	float: left;
}

.loc-drop{
	width: 30%;
	height: 100%;
	margin-left: 10.5%;
	background-color: green;
}

.buton-love{
	width: 15%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 50px;
	text-align: center;
	font-size: 25px;
}

.button-bar{
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}

.wrap-icon-button-bar,
.wrapper-header-nav{
	width: 100%;
	height: 100%;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	background-color: white;
	border-top: 1px solid var(--grey);
}

.icon-bar{
	width: 20%;
	text-align: center;
	line-height: 60px;
	height: 100%;
	float: left;
	font-size: 23.5px;
}



/*end resuable element*/


/*font*/

.f-pps-s{
	font-family: var(--poppins);
	font-weight: var(--light);
}

.f-pps-m{
	font-family: var(--poppins);
	font-weight: var(--regular);
}

.f-pps-l{
	font-family: var(--poppins);
	font-weight: var(--semibold);
}

.f-pps-xl{
	font-family: var(--poppins);
	font-weight: var(--bold);
}


.f-mts-s{
	font-family: var(--montserrat);
	font-weight: var(--light);
}

.f-mts-m{
	font-family: var(--montserrat);
	font-weight: var(--regular);
}

.f-mts-l{
	font-family: var(--montserrat);
	font-weight: var(--semibold);
}

.f-mts-xl{
	font-family: var(--montserrat);
	font-weight: var(--bold);
}


/*ukuran font*/

.size-head{
	font-size: 23px;
}

.size-medium{
	font-size: 17px;
}


/*alignment*/
.t-a-l{
	text-align: left;
}

.t-a-c{
	text-align: center;
}

.t-a-r{
	text-align: right;
}
